{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 8 Competitiveness and concern for social status
{% endblock %}

{% block content %}

    <p>How much do you agree or disagree with the following statements?</p>

    <p>Social status, Cohn et al. (2014):</p>
    <p>{% formfield player.social_status %}</p>

    <br>

    <p>Competitiveness  (Helmreich and Spence, 1978; Thornton et al., 2011)</p>

    <p>{% formfield player.competitiveness1 %}</p>
    <p>{% formfield player.competitiveness2 %}</p>
    <p>{% formfield player.competitiveness3 %}</p>
    <p>{% formfield player.competitiveness4 %}</p>
    <p>{% formfield player.competitiveness5 %}</p>


    <br>
    {% next_button %}

{% endblock %}
