{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Summary & Thank you
{% endblock %}

{% block content %}

    <p>Here is once more the information regarding your earnings relative to others. You can print this information
        and save it or take it with you.</p>

    <p>[SHOW THE STIMULI ONCE MORE HERE]</p>

    <p>Thank you for taking part in this study. The study is research collaboration between Statistics Finland,
        Tampere University and Hanken School of Economics.</p>

    <p>The collected data will be anonymous to all parties, including the research team, and processed securely
        according to the data protection policy and ethical guidelines of Statistics Finland and Hanken School
        of Economics.</p>

    <p>A description record of the data processing activities of this research is available on request at
        [insert www address or email contact address]. If you have further questions regarding the research or if
        you want that your personal data are to be erased or corrected, please contact [insert contact email address
        of the principal investigator]. If you have complaints or other questions related to the processing of your
        personal data for this purpose, contact the data processing officer of Hanken School of Economics,
        <a href="mailto: dpo@hanken.fi">dpo@hanken.fi</a>, or at Statistics Finland, [email address here]</p>

    <p>Recall to erase the short-term memory of the browser if answered the questionnaire at a public computer.</p>

    {#% next_button %#}

{% endblock %}
