{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}
    <p>The next questions concern your job or, if you have more than one employer,
        your <b>primary</b> job.</p>
    <p><br>{% formfield player.how_long %}</p>
    <p><br>{% formfield player.wage_satisfied %}</p>
    <p><br>{% formfield player.job_satisfied %}</p>
    <p><br>{% formfield player.fair_wage %}</p>
    <p><br>{% formfield player.leave_job %}</p>
    <p><br>{% formfield player.search_job %}</p>

    <br>
    {% next_button %}

{% endblock %}
