{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 1 Preferred information
{% endblock %}

{% block content %}
    <p>Which of the following would you like to learn about?</p>
    {% formfields player.preferred_group %}

    <br>
    <p>Notice:</p>
    <p>for the sake of reliable scientific inference,</p>
    <p>you will receive the information that you chose above about one quarter of the time</p>
    <p>about three quarters of the time, the information revealed to you will be randomly drawn out of the four
        alternatives above [q to the research team: according to which probabilities? Balanced?</p>

    <br>
    {% next_button %}

{% endblock %}
