{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 2 Beliefs
{% endblock %}

{% block content %}
    <p><i>Notice: your answer to the questions below will influence your compensation (one question and its answer
        selected randomly for payment): you will receive 5 euros if your answer to the randomly selected question is
        correct (within 5 percentage points from the correct value).</i></p>

    <p>Statistics Finland will randomly draw a 100 people living in Finland. How many of them had annual earnings
        smaller than you?</p>

    <p>Imagine that 100 people were chosen at random from your local area, and lined up, from the lowest income on
        the left, to the highest income on the right. Where do you think you would be in this line-up?</p>

    <div class="slidecontainer">
        <input name="s_postcode" type="range" min="0" max="100" value="0" class="slider" id="myRange1">
        <span id="demo1"></span>
    </div>

    <input type="hidden" name="check_slider1" value="" id="id_check_slider1"/>

    <script>
        $('input[name=s_postcode]').on('input', function(){
            $('#id_check_slider1').val(1);
        });
    </script>

    <p>Imagine instead that 100 people in the same profession as you were chosen at random from across Finland, and
        lined up, from the lowest income on the left, to the highest income on the right. Where do you think you would
        be in this line-up?</p>
    <div class="slidecontainer">
        <input name="s_occupation" type="range" min="0" max="100" value="0" class="slider" id="myRange2">
        <span id="demo2"></span>
    </div>

    <input type="hidden" name="check_slider2" value="" id="id_check_slider2"/>

    <script>
        $('input[name=s_occupation]').on('input', function(){
            $('#id_check_slider2').val(1);
        });
    </script>

    <p>Imagine instead that 100 people with the same education as you were chosen at random from across Finland, and
        lined up, from the lowest income on the left, to the highest income on the right. Where do you think you would
        be in this line-up?</p>

    <div class="slidecontainer">
        <input name="s_education" type="range" min="0" max="100" value="0" class="slider" id="myRange3">
        <span id="demo3"></span>
    </div>

    <input type="hidden" name="check_slider3" value="" id="id_check_slider3"/>

    <script>
        $('input[name=s_education]').on('input', function(){
            $('#id_check_slider3').val(1);
        });
    </script>

    <p>Last, imagine instead that 100 people were chosen at random from across Finland, and lined up, from the lowest
        income on the left, to the highest income on the right. Where do you think you would be in this line-up?</p>

    <div class="slidecontainer">
        <input name="s_all" type="range" min="0" max="100" value="0" class="slider" id="myRange4">
        <span id="demo4"></span>
    </div>

    <input type="hidden" name="check_slider4" value="" id="id_check_slider4"/>

    <script>
        $('input[name=s_all]').on('input', function(){
            $('#id_check_slider4').val(1);
        });
    </script>

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <h6 class="alert-heading">Please make sure you touch and move the slider in every question.</h6>
    </div>
    {% endif %}

    <style>
        .slidecontainer {
            width: 100%; /* Width of the outside container */
        }

        .slider {
            -webkit-appearance: none; /* Override default CSS styles */
            width: 80%; /* Full-width */
            height: 10px; /* Specified height */
            border-radius: 3px;
            background: #d3d3d3; /* Grey background */
            outline: none; /* Remove outline */
            opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
            -webkit-transition: .2s; /* 0.2 seconds transition on hover */
            transition: opacity .2s;
        }

        /* Mouse-over effects */
        .slider:hover {
            opacity: 1;
        }

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge)
        and -moz- (Firefox) to override default look) */
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 15px; /* Set a specific slider handle width */
            height: 15px; /* Slider handle height */
            border-radius: 50%;
            background: #4CAF50; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }

        .slider::-moz-range-thumb {
          width: 25px; /* Set a specific slider handle width */
          height: 25px; /* Slider handle height */
          border-radius: 50%;
          background: #4CAF50; /* Green background */
          cursor: pointer; /* Cursor on hover */
        }

        /* Mute the default error message */
        .otree-form-errors {
            visibility: hidden;
            display: none;
        }

    </style>

    <script>
        $(document).ready(function() {
        $('.otree-btn-next').hide().delay().fadeIn();
        });
        var slider1 = document.getElementById("myRange1");
        var slider2 = document.getElementById("myRange2");
        var slider3 = document.getElementById("myRange3");
        var slider4 = document.getElementById("myRange4");
        var output1 = document.getElementById("demo1");
        var output2 = document.getElementById("demo2");
        var output3 = document.getElementById("demo3");
        var output4 = document.getElementById("demo4");
        output1.innerHTML = slider1.value; /* Display the default slider value */
        output2.innerHTML = slider2.value;
        output3.innerHTML = slider3.value;
        output4.innerHTML = slider4.value;
        /* Update the current slider value (each time you drag the slider handle) */
        slider1.onchange = function() {
            output1.innerHTML = this.value;
        }
        slider2.onchange = function() {
            output2.innerHTML = this.value;
        }
        slider3.onchange = function() {
            output3.innerHTML = this.value;
        }
        slider4.onchange = function() {
            output4.innerHTML = this.value;
        }
    </script>

    <br>
    {% next_button %}

{% endblock %}
