{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}

    <p>Redistribution</p>
    <p>[Question on highest marginal tax rate / corporate tax here:]</p>

    <p>1. What should the average income tax rate be for individuals whose incomes are in the top 1% of all incomes
        in Finland?</p>

    <div class="slidecontainer">
        <input name="income_tax1" type="range" min="0" max="100" value="0" class="slider" id="myRange1">
        <span id="demo1"></span>
    </div>

    <input type="hidden" name="check_tax1" value="" id="id_check_tax1"/>

    <script>
        $('input[name=income_tax1]').on('input', function(){
            $('#id_check_tax1').val(1);
        });
    </script>

    <br>
    <p>2. What should the average income tax rate be for individuals whose incomes are in the top 10% (but not in the
        top 1%) of all incomes in Finland?</p>

    <div class="slidecontainer">
        <input name="income_tax2" type="range" min="0" max="100" value="0" class="slider" id="myRange2">
        <span id="demo2"></span>
    </div>

    <input type="hidden" name="check_tax2" value="" id="id_check_tax2"/>

    <script>
        $('input[name=income_tax2]').on('input', function(){
            $('#id_check_tax2').val(1);
        });
    </script>

    <br>
    <p>3. What should the average income tax rate be for individuals whose incomes are in the bottom 50% of all
        incomes in Finland?</p>

    <div class="slidecontainer">
        <input name="income_tax3" type="range" min="0" max="100" value="0" class="slider" id="myRange3">
        <span id="demo3"></span>
    </div>

    <input type="hidden" name="check_tax3" value="" id="id_check_tax3"/>

    <script>
        $('input[name=income_tax3]').on('input', function(){
            $('#id_check_tax3').val(1);
        });
    </script>

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <h6 class="alert-heading">Please make sure you touch and move the slider in every question.</h6>
    </div>
    {% endif %}

    <style>
        .slidecontainer {
            width: 80%; /* Width of the outside container */
        }

        .slider {
            -webkit-appearance: none; /* Override default CSS styles */
            width: 80%; /* Full-width */
            height: 10px; /* Specified height */
            border-radius: 3px;
            background: #d3d3d3; /* Grey background */
            outline: none; /* Remove outline */
            opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
            -webkit-transition: .2s; /* 0.2 seconds transition on hover */
            transition: opacity .2s;
        }

        /* Mouse-over effects */
        .slider:hover {
            opacity: 1;
        }

        /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge)
        and -moz- (Firefox) to override default look) */
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 15px; /* Set a specific slider handle width */
            height: 15px; /* Slider handle height */
            border-radius: 50%;
            background: #4CAF50; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }

        .slider::-moz-range-thumb {
          width: 25px; /* Set a specific slider handle width */
          height: 25px; /* Slider handle height */
          border-radius: 50%;
          background: #4CAF50; /* Green background */
          cursor: pointer; /* Cursor on hover */
        }

        /* Mute the default error message */
        .otree-form-errors {
            visibility: hidden;
            display: none;
        }

    </style>

    <script>
        $(document).ready(function() {
        $('.otree-btn-next').hide().delay().fadeIn();
        });
        var slider1 = document.getElementById("myRange1");
        var slider2 = document.getElementById("myRange2");
        var slider3 = document.getElementById("myRange3");
        var output1 = document.getElementById("demo1");
        var output2 = document.getElementById("demo2");
        var output3 = document.getElementById("demo3");
        output1.innerHTML = slider1.value; /* Display the default slider value */
        output2.innerHTML = slider2.value;
        output3.innerHTML = slider3.value;
        /* Update the current slider value (each time you drag the slider handle) */
        slider1.onchange = function() {
            output1.innerHTML = this.value;
        }
        slider2.onchange = function() {
            output2.innerHTML = this.value;
        }
        slider3.onchange = function() {
            output3.innerHTML = this.value;
        }
    </script>

    <p>{% formfield player.inheritance_tax_h %}</p>
    <p>{% formfield player.inheritance_tax_l %}</p>
    <p>{% formfield player.wealth_tax %}</p>
    <p>{% formfield player.tax_balance %}</p>
    <p>{% formfield player.spend_infrastructure %}</p>
    <p>{% formfield player.spend_edu %}</p>
    <p>{% formfield player.spend_social %}</p>
    <p>{% formfield player.spend_welfare %}</p>
    <p>{% formfield player.spend_inc_diff %}</p>

    <br>
    {% next_button %}

{% endblock %}
