{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 3 Stimuli
{% endblock %}

{% block content %}
    <p>LOW INFO VS. FULL INFO</p>
    <p>CONTROL  / CONTROL2(?)/POSTCODE (3) / PROFESSION (3) / EDUCATION (3) / CHOICE (SEE SCREEN 2)</p>
    <p>Here is where you think your income would be in the line-up of 100 randomly chosen people who
        live in your local area [who are in the same profession as you/who have the same education as you
        /who are chosen across Finland].</p>
    <p>[One of the beliefs is shown based on treatment.]</p>
    <p>You think your income is higher than <b>{{ b_postcode }}</b> people who live in your local area.</p>
    <p>You think your income is higher than <b>{{ b_occupation }}</b> people who are in the same profession as you.</p>
    <p>You think your income is higher than <b>{{ b_education }}</b> people who have the same education as you.</p>
    <p>You think your income is higher than <b>{{ b_all }}</b> people who are chosen across Finland.</p>

    <br>
    {% next_button %}

{% endblock %}
