{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Part 7 Social preferences (Falk et al. 2018)
{% endblock %}

{% block content %}

    <p>We now ask for your willingness to act in a certain way in four different areas. Please again indicate your
        answer on a scale from 0 to 10, where 0 means you are “completely unwilling to do so” and a 10 means you are
        “very willing to do so”. You can also use any numbers between 0 and 10 to indicate where you fall on the scale,
        like 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10.</p>

    <p>Similarly, “self-assessments” indicate that the respective statement was preceded by the following introduction:
        How well do the following statements describe you as a person? Please indicate your answer on a scale
        from 0 to 10. A 0 means “does not describe me at all” and a 10 means “describes me perfectly”. You can also use
        any numbers between 0 and 10 to indicate where you fall on the scale, like 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10.</p>

    <p>[Remark: what is called “hypothetical situations” in Falk et al. (2018) have been left out of our
        questionnaire]</p>

    <br>
    <p>Patience</p>
    <p>{% formfield player.patience %}</p>

    <p>Risk-taking</p>
    <p>{% formfield player.risk_taking %}</p>

    <p>Positive reciprocity</p>
    <p>{% formfield player.positive_reciprocity %}</p>

    <p>Negative reciprocity</p>
    <p>{% formfield player.negative_reciprocity1 %}</p>
    <p>{% formfield player.negative_reciprocity2 %}</p>
    <p>{% formfield player.negative_reciprocity3 %}</p>

    <p>Altruism</p>
    <p>{% formfield player.altruism %}</p>

    <p>Trust</p>
    <p>{% formfield player.trust %}</p>


    <br>
    {% next_button %}

{% endblock %}
