{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Did you select 'I do not consent' by accident?
{% endblock %}

{% block content %}
<p>We want to make sure that if you want to take part in this survey, you do.
<br>If you understand and consent the information below, please select 'I understand and consent'.
    <br>If not, select 'I do not consent' once again.
<p>
<br>I understand and consent to that:
    <ul>
    <li>in the data collected in this online survey, there is no data that directly identifies me personally
        (e.g., [indicate name, email address, address, or similar]) </li>
    <li>data that directly identifies me personally will not be visible in any results or publications based on the
        data;</li>
    <li>the collected online survey data will be associated with my data at Statistics Finland using coding keys
        only known to the experts at the Statistics Finland and then anonymized and saved to a repository at Statistics
        Finland</li>
    <li>the research team will have access to the anonymized data using a remote connection from Hanken School of
        Economics and Tampere University</li>
    <li>the data that do not directly identify me personally (e.g., answers to survey/interview questions without
        identifying information) will be stored in scientific data repositories in Finland to allow for scientific
        replication and for the purpose of conducting further scientific research analyses in the interest of scientific
        reliability.</li>
    <li>I can withdraw from filling out the questionnaire at any time.</li>
    <li>I can withdraw my consent and have the research team erase my data, or request the research team with the
        help of the experts at Statistics Finland to show, disclose, or correct my data at any time</li>
    </ul>
<br>{% formfield player.consent2 %}
</p>

    {% next_button %}

{% endblock %}