{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Informed Consent
{% endblock %}

{% block content %}
    <p>This research project is a collaboration between Statistics Finland (Tilastokeskus, Statistikcentralen),
        Hanken School of Economics, and Tampere University. Your personal data will be processed securely according
        to the data protection policy and ethical guidelines of both Statistics Finland and Hanken School of Economics.
        The legal ground for processing your data is your consent and the Finnish Data Protection Act. The online
        questionnaire uses closed form or multiple choice question formats only.</p>

    <p>Your contact information was received/sampled for this study from Statistics Finland.</p>

    <p>The study is about earnings and income. You will first be asked a few questions on this topic. You will be then
        told some facts about your and other Finns’ incomes. You will then answer several questions of relevance for
        the study.</p>

    <p>Towards the end, there are also questions where you have a chance for monetary reward and the reward will depend
        on the answers you give and other factors not in your control. (In order to be compensated, you should complete
        the questionnaire in its entirety.) The questions associated with a monetary reward are clearly indicated.</p>

    <p>Once you are done, the data will be sent to Statistics Finland. The expert officials will extract the information
        regarding your reward, connect your reward data with your contact data (using the code in the top right corner
        of your questionnaire, the key of which is only available to the SF officials) and inform an external
        professional agent about these. The external agent is not related to the research theme and is unaware of the
        details of the study. No other information or data will be revealed to the external agent. The external agent
        then contacts you to finalize the payment.</p>

    <p>A description record of the data processing activities of this research is available on request at [insert www
        address or email contact address]. If you have further questions regarding the research or if you want that your
        personal data to be erased or corrected, please contact [insert contact email address of the principal
        investigator]. If you have other questions related to the processing of your personal data for this purpose,
        contact the data processing officer of Hanken School of Economics, <a href = "mailto: dpo@hanken.fi">
            dpo@hanken.fi</a></p>

    <p><br>I understand and consent to that:
    <ul>
    <li>in the data collected in this online survey, there is no data that directly identifies me personally
        (e.g., [indicate name, email address, address, or similar]) </li>
    <li>data that directly identifies me personally will not be visible in any results or publications based on the
        data;</li>
    <li>the collected online survey data will be associated with my data at Statistics Finland using coding keys
        only known to the experts at the Statistics Finland and then anonymized and saved to a repository at Statistics
        Finland</li>
    <li>the research team will have access to the anonymized data using a remote connection from Hanken School of
        Economics and Tampere University</li>
    <li>the data that do not directly identify me personally (e.g., answers to survey/interview questions without
        identifying information) will be stored in scientific data repositories in Finland to allow for scientific
        replication and for the purpose of conducting further scientific research analyses in the interest of scientific
        reliability.</li>
    <li>I can withdraw from filling out the questionnaire at any time.</li>
    <li>I can withdraw my consent and have the research team erase my data, or request the research team with the
        help of the experts at Statistics Finland to show, disclose, or correct my data at any time</li>
    </ul>
    <br>{% formfield player.consent %}</p>
    <p>Your contribution is highly valuable scientifically, your data will remain anonymous at all times, and we
        sincerely hope that you would be able to complete the questionnaire and contribute to scientific discovery.</p>

    <br>
    {% next_button %}

{% endblock %}
